@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 64px; /* Adjust depending on the app bar height */
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fafafa;
}
